* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.react-datepicker__input-container input {
  width: 185px;
  height: 34px;
  border: none;
  padding-left: 13px;
}
.react-datepicker-popper {
  left: -21px!important;
}
.react-datepicker {
  border-radius: 0!important;
}
.react-datepicker__header {
  background-color: rgb(219,219,219)!important;
  border-radius: unset!important;
}
.react-datepicker__navigation--previous {
    border-right-color: #000!important;
}
.react-datepicker__navigation--next {
    border-left-color: #000!important;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    background-color: rgb(52,152,219)!important;
}
.checkbox {
  display: flex;
  cursor: pointer;
}
.checkbox input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
.checkbox span {
  display: inline-block;
  vertical-align: middle;
}
.checkbox input[type='checkbox'] + span::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 13px;
  height: 13px;
  margin: 0 4px 0 0;
  border: solid 1px #000;
  line-height: 14px;
  text-align: center;
  color: #000;
  font-size: 12px;
  font-weight: 900;
}
.checkbox input[type='checkbox']:checked + span::before {
  content: 'X';
}
